<!--
Ecology workshop
-->
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
	      <td><b>Before</b></td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
	    <tr><td><b>September 11</b></td><td><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
	    <tr><td></td><td>Most research projects start with collecting data in a spreadsheet, and we tend to organize data in spreadsheets based on how we want to work with the data. In this lesson, you will first learn best practices for entering data and formatting data tables in spreadsheets.</td></tr>
	    <tr><td><b>September 11</b></td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
	    <tr><td></td><td>After an introduction to organizing your data in spreadsheets, you’ll learn how to clean data for easier and improved analysis using the tool OpenRefine.</td></tr>
	    <tr><td><b>September 18</b></td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
	    <tr><td></td><td>This lesson will go over using a relational database for the effective storage and use of your data. Using databases for your data storage ensures that your stored data isn’t affected when you run analyses on it. SQL (Structured Query Language) allows you to create databases as well as run queries on it. Learning SQL and the concepts behind relational databases are at the core of understanding how to do similar tasks using programming languages such as R or Python. </td></tr>
	    <tr><td><b>September 25</b></td><td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td></tr>
	    <tr><td></td><td>In this lesson, you’ll first be introduced to how to use R and R Studio to analyze and organize  your data. </td></tr>
	    <tr><td><b>September 25</b></td><td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Data Manipulation with R (dplyr)</a></td></tr>
	    <tr><td></td><td>In the second half of the lesson, you will learn how to use the popular ‘tidyverse’ package ‘dplyr’ to manipulate and begin to analyze your data.</td></tr>
	    <tr><td><b>October 2</b></td><td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data Visualization with R (ggplot)</a></td></tr>
	    <tr><td></td><td>During the first portion of this lesson, you’ll learn how to generate visualizations from your data using the R package ggplot2. </td></tr>
	    <tr><td><b>October 2</b></td><td><a href="https://datacarpentry.org/genomics-r-intro/XX-knitr-markdown/index.html">Producing Reports with R (knitr)</a></td></tr>
	    <tr><td></td><td>The second portion of the lesson will focus on generating reports using R. Reports are a way to make your research more reproducible, whether that’s for you and your research group or for peer researchers whom you’ve made the data available to.</td></tr> 
	    <tr><td><b>October 9</b></td><td>Open Coding Lab (optional)</td></tr>
	    <tr><td></td><td>Do you have questions about any of the tools that you’ve learned about over the last four weeks or how to apply them to your research? This week’s session will allow you to come to work on applying what you learned to your own data. The instructors from the previous weeks’ lessons will be available to help answer your questions and work with you on any issues. This week’s session is optional. </td></tr>
	    <tr><td>END</td><td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
      
    </table>
</div>
</div>


<!--
Genomics workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<!--
Social Science workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->
